---
export interface Props {
	icon: "github" | "linkedin" | "email";
	src: string;
}

let destination: string;
switch (Astro.props.icon) {
	case "github":
		destination = "https://github.com/cbackas";
		break;
	case "linkedin":
		destination = "https://www.linkedin.com/in/zac-gibson/";
		break;
	case "email":
		destination = "mailto://zgibson@live.com";
		break;
	default:
		throw new Error(`Invalid icon: ${Astro.props.icon}`);
}

let delay = Math.random() * 3; // generate a random delay between 0 and 3 seconds
---

<a href={destination} target="_blank" rel="noopener noreferrer">
	<button style={`animation-delay: ${delay}s`}>
		<img
			src={Astro.props.src}
			alt={`${Astro.props.icon} icon`}
			width={40}
			height={40}
		/>
	</button>
</a>

<style>
	button {
		background: white;
		border: none;
		margin: 0 0.4em;
		padding: 0.3em;
		cursor: pointer;
		border-radius: 0.5em;
		transition:
			box-shadow 0.3s ease-in-out,
			transform 0.3s ease-in-out;
		animation: bounce 3s infinite;
	}
	button:hover {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
		transform: translateY(-3px);
		animation: none;
	}
	button img {
		vertical-align: middle;
	}
	@keyframes bounce {
		0%,
		100% {
			transform: translateY(0px);
		}
		50% {
			transform: translateY(-2px);
		}
	}
</style>
